fail_fast: false

default_language_version:
  python: python3

# for other hooks see https://github.com/pre-commit/pre-commit-hooks
repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.2.0
    hooks:
    -   id: check-yaml
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    # -   id: check-added-large-files
    #     args: ['--maxkb', '512']
-   repo: https://github.com/psf/black
    rev: 22.3.0
    hooks:
    -   id: black
    -   id: black-jupyter
-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    -   id: flake8
        types: [file, python]
        args: [--max-line-length=88, --extend-ignore=E203]
-   repo: https://github.com/asottile/blacken-docs
    rev: v1.12.1
    hooks:
    -   id: blacken-docs
        args: [ '--line-length', '100']
        additional_dependencies: [black==22.3]
